input {
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
  font-size: 21px;
  color: #12112e;
  font-weight: 500;
  border-radius: 6px;
  background-color: transparent;
}
input:focus {
  outline: none;
}
input:focus::placeholder {
  opacity: 0;
}
input::placeholder {
  color: #bebebe;
  transition: all 250ms ease-in-out;
}
.combo-box-wrapper {
  display: flex;
  flex-direction: column;
  width: 34em;
  height: 3.8em;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0px 2px 12px 3px rgba(0, 0, 0, 0.14);
}

.combo-box-controls {
  display: flex;
  margin-right: 5px;
}
.combo-box-controls__clear {
  color: #bebebe;
  font-size: 23px;
  vertical-align: middle;
  transition: all 200ms ease-in-out;
  cursor: pointer;
  background: transparent;
  outline: none;
  border: none;
}
.combo-box-controls__clear:hover {
  color: #dfdfdf;
}
.input-container {
  width: 100%;
  min-height: 4em;
  display: flex;
  align-items: center;
  position: relative;
  padding: 2px 15px;
}
.line-separator {
  display: flex;
  min-width: 100%;
  min-height: 2px;
  background-color: #d8d8d878;
}
.option-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1em;
  overflow-y: auto;
}
