.options {
  width: 100%;
  min-height: 6em;
  display: flex;
  flex-direction: column;
  padding: 6px 8px;
  align-items: start;
  list-style: none;
}

.no-options {
  color: #999;
  padding: 0.5rem;
}

.options li {
  font-size: 15px;
  color: #000;
  margin-left: 10px;
  flex: 2;
  display: flex;
  height: 20px;
}

.option-active,
.options li:hover {
  cursor: pointer;
  font-weight: 700;
}

.options li:not(:last-of-type) {
  border-bottom: 2px solid #d8d8d852;
}
